<!--Double navigation-->
<header>
  <!-- Sidebar navigation -->
  <mdb-side-nav
    #sidenav
    class=" fixed"
    [sidenavBreakpoint]="992"
    [fixed]="true"
  >
    <mdb-navbar-brand>
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light">
          <a routerLink="/"
            ><img
              src="../../../assets/img/jpack-logo.jpg"
              class="img-fluid flex-center"
              alt=""
          /></a>
        </div>
      </li>
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>
      <!--Social-->
      <li>
        <ul class="social">
          <li>
            <a class="icons-sm fb-ic"><i class="fab fa-facebook-f"> </i></a>
          </li>
          <li>
            <a class="icons-sm pin-ic"><i class="fab fa-pinterest"> </i></a>
          </li>
          <li>
            <a class="icons-sm gplus-ic"><i class="fab fa-google-plus"> </i></a>
          </li>
          <li>
            <a class="icons-sm tw-ic"><i class="fab fa-twitter"> </i></a>
          </li>
        </ul>
      </li>
      <!--/Social-->
      <!--Search Form-->
      <li>
        <form class="search-form" role="search">
          <div class="form-group md-form mt-0 pt-1 waves-light" mdbWavesEffect>
            <input type="text" class="form-control" placeholder="Search" />
          </div>
        </form>
      </li>
      <!--/.Search Form-->
      <!-- Side navigation links -->
      <li>
        <ul
          class="collapsible collapsible-accordion"
          style="max-height: 100vh; padding-bottom: 100px"
        >
          <mdb-accordion [multiple]="false" aria-multiselectable="false">
            <!-- Collapsible link -->

            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect
                ><i class="fas fa-shopping-bag"></i>BAGS
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li routerLink="anti-static-bags">
                    <a mdbWavesEffect>Anti Static Bags</a>
                  </li>
                  <li routerLink="bubble-pouches-bags">
                    <a mdbWavesEffect>Bubble Pouches</a>
                  </li>
                  <li routerLink="clear-poly-bags">
                    <a mdbWavesEffect>Clear Poly Bags</a>
                  </li>
                  <li routerLink="clear-reclosable-bags">
                    <a mdbWavesEffect>Clear Reclosable Bags</a>
                  </li>
                  <li routerLink="poly-bag-sealer">
                    <a mdbWavesEffect>Poly Bag Sealer</a>
                  </li>
                  <li routerLink="polypropylene-bags">
                    <a mdbWavesEffect>Polypropylene Bags</a>
                  </li>
                  <li routerLink="poly-tubing">
                    <a mdbWavesEffect>Poly Tubing</a>
                  </li>
                  <li routerLink="static-shielding-bags">
                    <a mdbWavesEffect>Static Shielding Bags</a>
                  </li>
                  <li routerLink="vacuum-bags">
                    <a mdbWavesEffect>Vacuum Bags</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect
                ><i class="fas fa-box-open"></i>CORRUGATED BOXES
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li routerLink="box-stapler-staples">
                    <a mdbWavesEffect>Box Stapler & Staples</a>
                  </li>
                  <li routerLink="corrugated-boxes">
                    <a mdbWavesEffect>Corrugated Boxes</a>
                  </li>
                  <li routerLink="corrugated-bulk-containers">
                    <a mdbWavesEffect>Corrugated Bulk Containers</a>
                  </li>
                  <li routerLink="corrugated-pads">
                    <a mdbWavesEffect>Corrugated Pads</a>
                  </li>
                  <li routerLink="corrugated-mailers">
                    <a mdbWavesEffect>Corrugated Mailers</a>
                  </li>
                  <li routerLink="easy-fold-boxes">
                    <a mdbWavesEffect>Easy Fold Boxes</a>
                  </li>
                  <li routerLink="mailing-tubes">
                    <a mdbWavesEffect>Mailing Tubes</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect
                ><i class="fas fa-database"></i>CUSHIONING
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li routerLink="bubble-wrap">
                    <a mdbWavesEffect>Bubble Wrap</a>
                  </li>
                  <li routerLink="bubble-wrap-foam-dispenser">
                    <a mdbWavesEffect>Bubble Wrap & Foam Dispenser</a>
                  </li>
                  <li routerLink="cushioning-foam">
                    <a mdbWavesEffect>Cushioning Foam</a>
                  </li>
                  <li routerLink="kraft-wrapping-paper">
                    <a mdbWavesEffect>Kraft Wrapping Paper</a>
                  </li>
                  <li routerLink="newsprint-wrapping-paper">
                    <a mdbWavesEffect>Newsprint Wrapping Paper</a>
                  </li>
                  <li routerLink="packing-peanuts">
                    <a mdbWavesEffect>Packing Peanuts</a>
                  </li>
                  <li routerLink="tissue-wrapping-paper">
                    <a mdbWavesEffect>Tissue Wrapping Paper</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect
                ><i class="fas fa-envelope"></i>LABELS & ENVELOPES
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li routerLink="circle-mailing-labels"><a mdbWavesEffect>Circle Mailing Labels</a></li>
                  <li routerLink="laser-labels"><a mdbWavesEffect>Laser Labels</a></li>
                  <li routerLink="packing-list-envelopes"><a mdbWavesEffect>Packing List Envelopes</a></li>
                  <li routerLink="shipping-handling-labels"><a mdbWavesEffect>Shipping & Handling Labels</a></li>
                  <li routerLink="thermal-transfer"><a mdbWavesEffect>Thermal Transfer</a></li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect
                ><i class="fas fa-mail-bulk"></i>MAILERS
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li routerLink="kraft-bubble-mailers"><a mdbWavesEffect>Kraft Bubble Mailer</a></li>
                  <li routerLink="poly-bubble-mailers"><a mdbWavesEffect>Poly Bubble Mailer</a></li>
                  <li routerLink="poly-mailer"><a mdbWavesEffect>Poly Mailer</a></li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect
                ><i class="fas fa-crop-alt"></i>STRAPPING
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li routerLink="poly-strapping"><a mdbWavesEffect>Poly Strapping</a></li>
                  <li routerLink="poly-strapping-machine"><a mdbWavesEffect>Poly Strapping Machine</a></li>
                  <li routerLink="poly-strapping-tools"><a mdbWavesEffect>Poly Strapping Tools</a></li>
                  <li routerLink="steel-strapping"><a mdbWavesEffect>Steel Strapping</a></li>
                  <li routerLink="v-boards"><a mdbWavesEffect>V-Boards</a></li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect
                ><i class="fas fa-scroll"></i>STRETCH FILM
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li routerLink="hand-stretch-wrap"><a mdbWavesEffect>Hand Stretch Wrap</a></li>
                  <li routerLink="machine-stretch-wrap"><a mdbWavesEffect>Machine Stretch Wrap</a></li>
                  <li routerLink="opaque-stretch-wrap"><a mdbWavesEffect>Opaque Stretch Wrap</a></li>
                  <li routerLink="shrink-wrap-roll"><a mdbWavesEffect>Stretch Wrap Dispenser</a></li>
                  <li routerLink="shrink-wrap-system"><a mdbWavesEffect>Stretch Wrap Machinery</a></li>
                  <li routerLink="stretch-wrap-dispenser"><a mdbWavesEffect>Shrink Wrap Roll</a></li>
                  <li routerLink="stretch-wrap-machinery"><a mdbWavesEffect>Shrink Wrap System</a></li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect
                ><i class="fas fa-tape"></i>TAPE
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li><a href="#" mdbWavesEffect>Carton Sealing Tape</a></li>
                  <li><a href="#" mdbWavesEffect>Colored Tape</a></li>
                  <li><a href="#" mdbWavesEffect>Custom Print Tape</a></li>
                  <li><a href="#" mdbWavesEffect>Filament Tape</a></li>
                  <li><a href="#" mdbWavesEffect>Masking Tape</a></li>
                  <li>
                    <a href="#" mdbWavesEffect>Office Tape & Dispenser</a>
                  </li>
                  <li><a href="#" mdbWavesEffect>Tape Dispenser</a></li>
                  <li><a href="#" mdbWavesEffect>Vinyl Tape</a></li>
                  <li>
                    <a href="#" mdbWavesEffect>Water-Activated Gummed Tape</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect
                ><i class="fas fa-tools"></i>TOOLS & MACHINES
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li><a href="#" mdbWavesEffect>Air Pillow Machine</a></li>
                  <li><a href="#" mdbWavesEffect>Box Stapler</a></li>
                  <li><a href="#" mdbWavesEffect>Bubble Wrap Dispenser</a></li>
                  <li><a href="#" mdbWavesEffect>Glue Gun</a></li>
                  <li><a href="#" mdbWavesEffect>Poly Bag Sealer</a></li>
                  <li><a href="#" mdbWavesEffect>Poly Strapping Machine</a></li>
                  <li><a href="#" mdbWavesEffect>Poly Tubing Dispenser</a></li>
                  <li><a href="#" mdbWavesEffect>Stretch Wrap Machine</a></li>
                  <li><a href="#" mdbWavesEffect>Shrink Wrap System</a></li>
                  <li><a href="#" mdbWavesEffect>Tape Dispenser</a></li>
                  <li><a href="#" mdbWavesEffect>Utility Knife</a></li>
                  <li>
                    <a href="#" mdbWavesEffect>Wrapping Paper Dispenser</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect
                ><i class="fas fa-random"></i>MISC
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li><a href="#" mdbWavesEffect>Cable Ties</a></li>
                  <li><a href="#" mdbWavesEffect>Dock Board</a></li>
                  <li><a href="#" mdbWavesEffect>Gloves & Masks</a></li>
                  <li><a href="#" mdbWavesEffect>Metal Truck Seal</a></li>
                  <li><a href="#" mdbWavesEffect>Shipping Scales</a></li>
                  <li><a href="#" mdbWavesEffect>Twist Ties</a></li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>
          </mdb-accordion>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar
    SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
    [containerInside]="false"
  >
    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse"
          ><i class="fas fa-bars white-text"></i
        ></a>
      </div>
      <!--/. SideNav slide-out button -->
    </navlinks>

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons my-auto ml-auto ie-double-nav">
        <li routerLink="/" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
            ><i class="fas fa-home"></i>
            <span class="clearfix d-none d-sm-inline-block">home</span></a
          >
        </li>
        <li routerLink="about" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
            ><i class="fas fa-envelope"></i>
            <span class="clearfix d-none d-sm-inline-block">About Us</span></a
          >
        </li>
        <li routerLink="contact" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
            ><i class="far fa-comments"></i>
            <span class="clearfix d-none d-sm-inline-block">Contact Us</span></a
          >
        </li>
        <li routerLink="delivery" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
            ><i class="fas fa-truck"></i>
            <span class="clearfix d-none d-sm-inline-block">Delivery</span></a
          >
        </li>
        <li routerLink="order" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
            ><i class="fas fa-wifi"></i>
            <span class="clearfix d-none d-sm-inline-block"
              >Order Online</span
            ></a
          >
        </li>
        <li routerLink="quotation" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect
            ><i class="fas fa-comment-dollar"></i>
            <span class="clearfix d-none d-sm-inline-block">Quotation</span></a
          >
        </li>
      </ul>
    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->
</header>
<!--/.Double navigation-->

<!--Main layout-->
