<!--suppress ALL -->
<main>
  <div class="container">
    <div class="row">
      <div class="container mb-5 col-12 col-lg-6">
        <div class="row justify-content-center">
          <img
            class="z-depth-1 rounded"
            style="width: 405px; height: 405px;"
            src="../../../../assets/img/poly-tubing-dispenser-and-sealer.jpg"
            alt="Anti Static Bag"
            data-toggle="modal"
            data-target="#basicExample"
            (click)="frame.show()"
            mdbWavesEffect
          />
          <div
            mdbModal
            #frame="mdbModal"
            class="modal fade"
            id="frameModalTop"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Image -->
                <div class="modal-body d-flex justify-content-center">
                  <img
                    src="../../../../assets/img/poly-tubing-dispenser-and-sealer.jpg"
                    alt=""
                  />
                </div>
                <!-- Button -->
                <div class="modal-footer">
                  <button
                    type="button"
                    mdbBtn
                    color="primary"
                    class="waves-light"
                    mdbWavesEffect
                    data-dismiss="modal"
                    (click)="frame.hide()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-100 mb-5 col-12 col-lg-6">
        <div class="card-body">
          <h3 class="card-title">POLY BAG SEALER</h3>
          <p class="card-text lead">
            Sealer used with poly tubing and poly bags. Seal poly bags AND poly
            tubing to perfectly secure your product.
          </p>
          <p class="card-text lead">
            <strong>Seals a variety of bags:</strong>Our product seals poly
            bags, poly tubing and polypropylene.
          </p>
          <p class="card-text lead">
            <strong>Quick and easy:</strong> No warm-up time necessary. Simply
            place poly bags within the sealer, press down gently and release.
          </p>
          <p class="card-text lead">
            <strong>Seal and Cut poly tubing in one step:</strong> After
            sealing, simply slide cutter across to trim poly tubing.
          </p>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr
            style="text-align: center; background-color: #0c4b7d; color: white;"
          >
            <th scope="col" style="padding-right: 0">PRODUCT #</th>
            <th scope="col" style="padding-right: 2px;">DESCRIPTION</th>
            <th scope="col" style="padding-left: 1px">SEALING</th>
            <th scope="col">ADD TO CART</th>
          </tr>
        </thead>
        <tr *ngFor="let bags of polyBagSealer" style="text-align: center;">
          <td class="item align-middle">{{ bags.productNumber }}</td>
          <td class="item align-middle">{{ bags.description }}</td>
          <td class="item align-middle">{{ bags.sealing }}</td>
          <td class="item align-middle">
            <!--          <td>-->
            <!--            <button>submit</button>-->
            <!--          </td>-->
            <input
              class="productInput"
              type="number"
              name="quantity"
              min="1"
              max="10"
            />
            <button class="btn btn-primary" type="submit">ADD</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</main>
