
<!--Footer-->
<footer class="page-footer text-center stylish-color-dark text-md-left pt-4 mt-5">
  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <!--First column-->
      <div class="col-md-3">
        <h5 class="text-uppercase font-weight-bold mb-4">Jpack International</h5>
        <p>
          buy us fuck you
        </p>
      </div>
      <!--/.First column-->

      <hr class="w-100 clearfix d-md-none"/>
      <hr class="w-100 clearfix d-md-none"/>

      <!--Fourth column-->
      <div class="col-md-2 mx-auto">
        <h5 class="text-uppercase font-weight-bold mb-4">Browse</h5>
        <ul class="list-unstyled">
          <li><a href="#!">contact</a></li>
          <li><a href="#!">Delivery</a></li>
          <li><a href="#!">FAQ</a></li>
          <li><a href="#!">Testimonies</a></li>
        </ul>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
    <div class="container-fluid">
      © 2019 Copyright: Jpack International
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->






