<div class="footer text-center">
  <div class="row">
    <div class="col-md-4 mb-5 text-center text-md-left ml-md-4">
      <img src="../../../assets/img/jpack-logo.jpg" alt="jpackInternational" width="244" height="83">
    </div>
    <div class="col-6 col-md col-12">
      <h3>contact us</h3>
      <ul class="list-unstyled">
        <li>
          19789 Harrison Ave. City of Industry, Ca. 91789
        </li>
        <li>
          Phone: 909.598.7229 | Fax: 909.598.089
        </li>
        <li>
          questions@jpackusa.com
        </li>
      </ul>
    </div>
    <div class="col-6 col-md col-12">
      <h3>information</h3>
      <ul class="list-unstyled text-small">
        <li>
          about us
        </li>
        <li>
          success stories
        </li>
        <li>
          faq
        </li>
      </ul>
    </div>
  </div>
</div>

