<div class="container-fluid p-1">
  <!-- START 1st HEADER -->
  <div class="row d-md-none">
    <div class="col-7 text-uppercase">
      <span class="help-number">Need Help? call us at:
          <strong style="color:red;">909-598-7229</strong>
      </span>
    </div>
    <div class="col-5 pr-3">
      <ul class="list-inline float-right mb-1">
        <li class="list-inline-item">
          <img class="media-icons" src="../../../assets/img/fb.png" alt="facebook" style="height:24px; width:24px">
        </li>
        <li class="list-inline-item">
          <img class="media-icons" src="../../../assets/img/twitter.png" alt="facebook"
               style="height:24px; width:24px">
        </li>
        <li class="list-inline-item">
          <img class="media-icons" src="../../../assets/img/gmail.png" alt="facebook" style="height:24px; width:24px">
        </li>
        <li class="list-inline-item">
          <img class="media-icons" src="../../../assets/img/insta.png" alt="facebook" style="height:24px; width:24px">
        </li>
      </ul>
    </div>
  </div>
</div> <!-- END 1st HEADER -->
<div class="container-fluid shadow-sm">
  <!-- START 2nd HEADER -->
  <div class="row row-header">
    <div class="col-md-5 py-3 text-center text-md-left jpack-logo">
      <img src="../../../assets/img/jpack-logo.jpg" alt="JpackInternational">
    </div>

    <style>


      .vertical-line {
        width: 1px;
        /* Line width */
        background-color: black;
        /* Line color */
        height: 100%;
        /* Override in-line if you want specific height. */
        float: left;
        opacity: 0.1;
      }
      .icon {
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>

    <div class="col-md-7 d-none d-md-block pt-3 mt-4">
      <div class="row justify-content-end mr-3">
        <div class="icon"><i class="fas fa-phone fa-lg"></i></div>
        <div class="vertical-line" style="height:35px;"></div>
        <ul class="list-inline list">
          <li><strong>Phone</strong></li>
          <li><a href="#">(909) 598-7229</a></li>
        </ul>
        <div class="icon"><i class="fas fa-envelope fa-lg"></i></div>
        <div class="vertical-line" style="height:35px;"></div>
        <ul class="list-inline list">
          <li><strong>Email</strong></li>
          <li><a href="#">jpack@jpack.com</a></li>
        </ul>
        <div class="icon"><i class="fas fa-location-arrow fa-lg"></i></div>
        <div class="vertical-line" style="height:35px;"></div>
        <ul class="list-inline list">
          <li><strong>Address</strong></li>
          <li>City of Industry, Ca.</li>
        </ul>
      </div>
    </div>


  </div>
</div> <!-- END HEADERS -->

<nav class="navbar rounded mb-3 navbar-expand-lg py-4 navbar-dark">
  <!-- START TOP NAVBAR-->
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav text-center">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Delivery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quotation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Order online</a>
      </li>
    </ul>
    <form class="form-inline ml-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0 btn-search" type="submit">Search</button>
    </form>
  </div>
</nav><!-- END TOP NAVBAR -->
