<!--suppress ALL -->
<main>
  <div class="container">
    <div class="row">
      <div class="container mb-5 col-12 col-lg-6">
        <mdb-carousel class="z-depth-1" [animation]="'slide'">
          <mdb-carousel-item>
            <img
              class="d-block w-100"
              src="../../../../assets/img/hand-stretch-wrap1.jpg"
              alt="Hand Stretch Wrap"
            />
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              class="d-block w-100"
              src="../../../../assets/img/hand-stretch-wrap2.jpg"
              alt="Hand Stretch Wrap Variety"
            />
          </mdb-carousel-item>
        </mdb-carousel>
      </div>

      <div class="card w-100 mb-5 col-12 col-lg-6">
        <div class="card-body">
          <h3 class="card-title">HAND STRETCH WRAP (SPECIALTY)</h3>
          <p class="card-text lead">
            Our hand stretch wrap has superior cling to keep loads secure and intact.
          </p>
          <p class="card-text lead">
           <strong>Durable: </strong> Resists puncturing or tearing, even around sharp corners.
          </p>
          <p class="card-text lead">
           <strong>Quality: </strong> Superior cling keeps loads secure and intact.
          </p>
          <p class="card-text lead">
           <strong>User-friendly: </strong> Wraps loads quickly with little effort.
          </p>
          <p class="card-text lead">
            Stretch Wrap Hand Dispenser included.
          </p>
          <p class="card-text lead">
            Stretch Wrap Dispenser & Stretch Wrap System available.
          </p>
        </div>
      </div>

      <!--TABLE-->
      <table class="table mb-5 table-striped table-hover">
        <thead>
        <tr
          style="text-align: center; background-color: #0c4b7d; color: white;"
        >
          <th scope="col" mdbTooltip="Product Number" placement="left">
            PRODUCT #
          </th>
          <th scope="col">
            COLOR
          </th>
          <th scope="col">
            WIDTH
          </th>
          <th scope="col">
            ROLLS/CASE
          </th>
          <th
            scope="col"
          >
            CASE/PALLET
          </th>
          <th scope="col" mdbTooltip="Tooltip on left" placement="left">
            ADD TO CART
          </th>
        </tr>
        </thead>
        <tr
          *ngFor="let wrap of handStretchWrap"
          style="text-align: center;"
        >
          <td class="item align-middle">{{ wrap.productNumber }}</td>
          <td class="item align-middle">{{ wrap.color }}</td>
          <td class="item align-middle">{{ wrap.width }}</td>
          <td class="item align-middle">{{ wrap.rollsPerCase }}</td>
          <td class="item align-middle">{{ wrap.casePerPallet }}</td>
          <td class="item align-middle">
            <!--          <td>-->
            <!--            <button>submit</button>-->
            <!--          </td>-->
            <input
              class="productInput"
              type="number"
              placeholder="qty"
              name="quantity"
              min="1"
              max="10"
            />
            <button class="btn btn-primary" type="submit">ADD</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</main>
