<!--suppress ALL -->
<main>
  <div class="container">
    <div class="row">
      <div class="container mb-5 col-12 col-lg-6">
        <div class="row justify-content-center">
          <img
            class="z-depth-1 rounded"
            style="width: 455px; height: 455px;"
            src="../../../../assets/img/poly-tubing.jpg"
            alt="Poly Tubing Dispenser"
            data-toggle="modal"
            data-target="#basicExample"
            (click)="frame.show()"
            mdbWavesEffect
          />
          <div
            mdbModal
            #frame="mdbModal"
            class="modal fade"
            id="frameModalTop"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Image -->
                <div class="modal-body d-flex justify-content-center">
                  <img
                    src="../../../../assets/img/poly-tubing.jpg"
                    alt="Poly Tubing Dispenser"
                  />
                </div>
                <!-- Button -->
                <div class="modal-footer">
                  <button
                    type="button"
                    mdbBtn
                    color="primary"
                    class="waves-light"
                    mdbWavesEffect
                    data-dismiss="modal"
                    (click)="frame.hide()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-100 mb-5 col-12 col-lg-6">
        <div class="card-body">
          <h3 class="card-title">POLY TUBING DISPENSER</h3>
          <p class="card-text lead">
            <strong>Safe:</strong> Meets FDA & USDA standards!
          </p>
          <p class="card-text lead">
            <strong>Saves money:</strong> Eliminates the need to stock an
            expensive variety of bags.
          </p>
          <p class="card-text lead">
            Seals with Poly Bag Sealers.
          </p>
          <p class="card-text lead">
            Uses Poly Tubing Dispensers.
          </p>
          <p class="card-text lead">
            1 mil - Lightweight protection for temporary storage.
          </p>
          <p class="card-text lead">
            2 mil - Most popular thickness for parts, clothing and food.
          </p>
          <p class="card-text lead">
            3 mil - Added protection for parts and hardware.
          </p>
          <p class="card-text lead">
            4 mil - Heavier protection for industrial parts and tools.
          </p>
          <p class="card-text lead">
            6 mil - Superior strength & puncture-resistant feature.
          </p>
        </div>
      </div>

      <!-- TABLE -->
      <table class="table mb-5 table-striped table-hover">
        <thead>
          <tr
            style="text-align: center; background-color: #0c4b7d; color: white;"
          >
            <th scope="col">
              PRODUCT #
            </th>
            <th scope="col">
              DESCRIPTION
            </th>
            <th scope="col">
              SEALING
            </th>
            <th scope="col">
              ADD TO CART
            </th>
          </tr>
        </thead>
        <tr *ngFor="let tubing of polyTubingDispenser" style="text-align: center;">
          <td class="item align-middle">{{ tubing.productNumber }}</td>
          <td class="item align-middle">{{ tubing.description }}</td>
          <td class="item align-middle">{{ tubing.sealing }}</td>
          <td class="item align-middle">
            <!--          <td>-->
            <!--            <button>submit</button>-->
            <!--          </td>-->
            <input
              class="productInput"
              type="number"
              placeholder="qty"
              name="quantity"
              min="1"
              max="10"
            />
            <button class="btn btn-primary" type="submit">ADD</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</main>
