@import "variables";

/////////////////////// MAIN HEADER ////////////////////////////////////
.list {
  margin: 0 15px 0 12px;
}

li {
  font-size: 1rem;
}

@media (max-width: 575.98px) {
  .help-number {
    font-size: 0.9rem !important;
  }

  .media-icons {
    height: 22px !important;
    width: 22px !important;
  }
}

/////////////////////// MAIN NAVBAR ////////////////////////////////////
.navbar {
  background-color: $color-primary;
}

.navbar-toggler-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}

@media (max-width: 575.98px) {
  .btn-search {
    margin: auto;
    width: 100%;
  }
  .navbar-nav {
    margin-bottom: 1.7rem;
  }
}

.nav-item {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.btn-search {
  font-size: 1.6rem;
  border-radius: 1rem;
}

.form-control {
  font-size: 1.6rem;
  border-radius: 1rem;
}
