/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "mixins";
@import "header";
@import "footer";

html {
  font-size: 10px;
}

body {
  background-color: darkgrey; //$color-primary-light;
}

/////////////////////// SIDE NAVBAR ////////////////////////////////
.accordionNav {
  .card-header {
    height: 4rem !important;
  }

  &__list {
    list-style: none;
    cursor: pointer;
    padding: 0 !important;
    text-transform: uppercase;
  }

  .btn {
    font-size: 1.3rem;
    color: $color-primary-dark;
  }

  .card-header {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $color-primary;
    font-size: 1.2rem;
  }

  a:hover {
    color: $color-primary;
  }

  .card {
    border: 0;
  }

  //@media screen and (-webkit-max-device-pixel-ratio: 1) {
  //  .btn {
  //    font-size: .8rem;
  //  }
}

i {
  opacity: 0.5;
}
